@import 'reset.scss';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/normal';

.app {
    /* font: var(--font-m); */
    background: var(--background-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content_page {
    width: 81.6%;
    flex-grow: 1;
    margin: 0 auto;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
