.RideList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ride_counter {
    font: var(--font-xl);
    font-weight: 600;
    color: var(--secondary-color);
    padding: 24px 0px 24px 0px;

    @media (max-width: 800px) {
        width: 100%;
        height: auto;
        font: var(--font-l);
        font-weight: 600;
        text-align: center;
    }
}

.toast {
    font: var(--font-m);
    color: #0b1524;

    @media (max-width: 800px) {
        font: var(--font-s);
    }
}
