.app.dark {
    --background-color: #3f3f8a;
    --inverted-background-color: #afafba;

    --primary-color: #049604;
    --secondary-color: #8feb8f;
    --inverted-primary-color: #044b96;
    --inverted-secondary-color: #3b3152;
}
