.app.light {
    --background-color: #f2f3f4;
    --inverted-background-color: #fff;

    --primary-color: #044b96;
    --secondary-color: #0b1524;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #8feb8f;
}
