.app.light {
    --background-color: #afafba;
    --inverted-background-color: #3f3f8a;

    --primary-color: #044b96;
    --secondary-color: #9083ae;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #8feb8f;
}
